/*************
Default Theme
*************/
/* overall */
.tablesorter-default {
	width: 100% !important ;
	font: 12px/18px Arial, Sans-serif !important ;
	color: #333 !important ;
	background-color: #fff !important ;
	border-spacing: 0 !important ;
	margin: 10px 0 15px !important ;
	text-align: left !important ;
}

/* header */
.tablesorter-default th,
.tablesorter-default thead td {
	font: bold 12px/18px Arial, Sans-serif !important ;
	color: #000 !important ;
	background-color: #fff !important ;
	border-collapse: collapse !important ;
	border-bottom: #ccc 2px solid !important ;
	padding: 0 !important ;
}
.tablesorter-default tfoot th,
.tablesorter-default tfoot td {
	border: 0 !important ;
}
.tablesorter-default .header,
.tablesorter-default .tablesorter-header {
	background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==) !important ;
	background-position: center right !important ;
	background-repeat: no-repeat !important ;
	cursor: pointer !important ;
	white-space: normal !important ;
	padding: 4px 20px 4px 4px !important ;
}
.tablesorter-default thead .headerSortUp,
.tablesorter-default thead .tablesorter-headerSortUp,
.tablesorter-default thead .tablesorter-headerAsc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7) !important ;
	border-bottom: #000 2px solid !important ;
}
.tablesorter-default thead .headerSortDown,
.tablesorter-default thead .tablesorter-headerSortDown,
.tablesorter-default thead .tablesorter-headerDesc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7) !important ;
	border-bottom: #000 2px solid !important ;
}
.tablesorter-default thead .sorter-false {
	background-image: none !important ;
	cursor: default !important ;
	padding: 4px !important ;
}

/* tfoot */
.tablesorter-default tfoot .tablesorter-headerSortUp,
.tablesorter-default tfoot .tablesorter-headerSortDown,
.tablesorter-default tfoot .tablesorter-headerAsc,
.tablesorter-default tfoot .tablesorter-headerDesc {
	border-top: #000 2px solid !important ;
}

/* tbody */
.tablesorter-default td {
	background-color: #fff !important ;
	border-bottom: #ccc 1px solid !important ;
	padding: 4px !important ;
	vertical-align: top !important ;
}

/* hovered row colors */
.tablesorter-default tbody > tr:hover > td,
.tablesorter-default tbody > tr.even:hover > td,
.tablesorter-default tbody > tr.odd:hover > td {
	background: #fff !important ;
	color: #000 !important ;
}

/* table processing indicator */
.tablesorter-default .tablesorter-processing {
	background-position: center center !important !important ;
	background-repeat: no-repeat !important !important ;
	/* background-image: url(../addons/pager/icons/loading.gif) !important; */
	background-image: url('data:image/gif;base64,R0lGODlhFAAUAKEAAO7u7lpaWgAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQBCgACACwAAAAAFAAUAAACQZRvoIDtu1wLQUAlqKTVxqwhXIiBnDg6Y4eyx4lKW5XK7wrLeK3vbq8J2W4T4e1nMhpWrZCTt3xKZ8kgsggdJmUFACH5BAEKAAIALAcAAAALAAcAAAIUVB6ii7jajgCAuUmtovxtXnmdUAAAIfkEAQoAAgAsDQACAAcACwAAAhRUIpmHy/3gUVQAQO9NetuugCFWAAAh+QQBCgACACwNAAcABwALAAACE5QVcZjKbVo6ck2AF95m5/6BSwEAIfkEAQoAAgAsBwANAAsABwAAAhOUH3kr6QaAcSrGWe1VQl+mMUIBACH5BAEKAAIALAIADQALAAcAAAIUlICmh7ncTAgqijkruDiv7n2YUAAAIfkEAQoAAgAsAAAHAAcACwAAAhQUIGmHyedehIoqFXLKfPOAaZdWAAAh+QQFCgACACwAAAIABwALAAACFJQFcJiXb15zLYRl7cla8OtlGGgUADs=') !important !important ;
}

/* Zebra Widget - row alternating colors */
.tablesorter-default tr.odd td {
	background-color: #dfdfdf !important ;
}
.tablesorter-default tr.even td {
	background-color: #efefef !important ;
}

/* Column Widget - column sort colors */
.tablesorter-default tr.odd td.primary {
	background-color: #bfbfbf !important ;
}
.tablesorter-default td.primary,
.tablesorter-default tr.even td.primary {
	background-color: #d9d9d9 !important ;
}
.tablesorter-default tr.odd td.secondary {
	background-color: #d9d9d9 !important ;
}
.tablesorter-default td.secondary,
.tablesorter-default tr.even td.secondary {
	background-color: #e6e6e6 !important ;
}
.tablesorter-default tr.odd td.tertiary {
	background-color: #e6e6e6 !important ;
}
.tablesorter-default td.tertiary,
.tablesorter-default tr.even td.tertiary {
	background-color: #f2f2f2 !important ;
}

/* caption */
caption {
	background: #fff !important ;
}

/* filter widget */
.tablesorter-default .tablesorter-filter-row td {
	background: #eee !important ;
	border-bottom: #ccc 1px solid !important ;
	line-height: normal !important ;
	text-align: center; /* center the input */
	-webkit-transition: line-height 0.1s ease !important ;
	-moz-transition: line-height 0.1s ease !important ;
	-o-transition: line-height 0.1s ease !important ;
	transition: line-height 0.1s ease !important ;
}
/* optional disabled input styling */
.tablesorter-default .tablesorter-filter-row .disabled {
	opacity: 0.5 !important ;
	filter: alpha(opacity=50) !important ;
	cursor: not-allowed !important ;
}
/* hidden filter row */
.tablesorter-default .tablesorter-filter-row.hideme td {
	/*** *********************************************** ***/
	/*** change this padding to modify the thickness     ***/
	/*** of the closed filter row (height = padding x 2) ***/
	padding: 2px !important ;
	/*** *********************************************** ***/
	margin: 0 !important ;
	line-height: 0 !important ;
	cursor: pointer !important ;
}
.tablesorter-default .tablesorter-filter-row.hideme .tablesorter-filter {
	height: 1px !important ;
	min-height: 0 !important ;
	border: 0 !important ;
	padding: 0 !important ;
	margin: 0 !important ;
	/* don't use visibility: hidden because it disables tabbing */
	opacity: 0 !important ;
	filter: alpha(opacity=0) !important ;
}
/* filters */
.tablesorter-default .tablesorter-filter {
	width: 95% !important ;
	height: auto !important ;
	margin: 4px !important ;
	padding: 4px !important ;
	background-color: #fff !important ;
	border: 1px solid #bbb !important ;
	color: #333 !important ;
	-webkit-box-sizing: border-box !important ;
	-moz-box-sizing: border-box !important ;
	box-sizing: border-box !important ;
	-webkit-transition: height 0.1s ease !important ;
	-moz-transition: height 0.1s ease !important ;
	-o-transition: height 0.1s ease !important ;
	transition: height 0.1s ease !important ;
}

/* ajax error row */
.tablesorter .tablesorter-errorRow td {
	cursor: pointer !important ;
	background-color: #e6bf99 !important ;
}
